extends layout 

block content 
  nav.navbar.navbar-expand-md.navbar-dark.bg-dark.fixed-top
    button.navbar-toggler(type="button" data-toggle="collapse" data-target="#main-navbar" style='margin-left: 10px;')
      span.navbar-toggler-icon
    #main-navbar.collapse.navbar-collapse
      ul.navbar-nav.mr-auto(style='margin-left: 10px;')
        li.nav-item
          a.nav-link(href='/waitlist/gravlaxisnotalaxative') Home
        li.nav-item
          a.nav-link(href='/waitlist/sessions') Active
        li.nav-item
          a.nav-link(href='/waitlist/sessions/waiting') Waiting
        li.nav-item.active
          a.nav-link(href='/waitlist/sessions/notified') Notified
        li.nav-item
          a.nav-link(href='/waitlist/sessions/archived') Archived
        li.nav-item
          a.nav-link(href='/waitlist/session/create') Create New
  main.container(role='main' style='padding: 60px;')
    h1= title
    ul
        li #[strong Notified: ] #{sessions_notifiedCount}
    p <em>Ordered by (1) wait time, (2) first name.</em>
    ol
        each session in sessions_notified
            li 
                a(href=session.urlDetails) #{session.name}
                | ; party of #[strong #{session.party_num}]; waited #[strong #{session.wait_completed} min] in total
        else 
            li There are no 'Notified' Sessions.
    br
    hr
    a(href='/waitlist/sessions/archive-request-notified') 
      button.btn.btn-primary(type='button') Archive Old Sessions